/*RWD 1200px - 922px - 768px -520px*/

/*BIG SCREENS*/

@media all and (max-width:1200px) {}

/*MEDIUM SCREENS*/

@media all and (max-width:922px) {}

/*SMALL SCREENS*/

@media all and (max-width:768px) {}


/*EXTRA SMALL SCREENS*/

@media all and (max-width: 520px) {
    .background:first-child {
        background-image: none;
        background-color: #000;
    }

    .background:nth-child(3) {
        background-image: none;
        background-color: #606162;
    }

    .background .content-inner {
        margin: 0 25px 0 20px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .background .content-inner .content-title {
        font-size: 25px;
    }


    #typedtext {
        margin: 0;
        margin-left: 20px;
    }

    #typedtext h3 {
        margin-left: 30px;
    }

    #typedtext h1 {
        margin-left: 75px;
        font-size: 30px;
    }

    .scroll-downs {
        display: none;
    }

    .skills-boxes {
        margin-right: 0;
    }

    .projects-boxes {
        margin: 5px 0 5px 0
    }

    .skills-boxes figure img {
        width: 60px;
        height: 60px;
    }

    .image-box {
        max-width: 140px;
    }

    .image-box img {
        width: 140px;
        height: 140px;
    }

    #contact .content-inner .contact-content {
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    #contact .content-inner .content-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #contact .content-inner .contact-content .tag1 {
        margin-left: 40px;
    }
    

    #contact .content-inner .contact-content .contact-address {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }

    #contact .content-inner .contact-content .contact-form {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;

    }

    #contact .content-inner .contact-content .contact-address .shape {
        width: 70vw;
        margin: 10px 0;
        height: 30px;
        line-height: 30px;
    }

    #contact .content-inner .contact-content .contact-form .shape {
        display: none;
    }

    #contact .content-inner .contact-content .contact-address .shape::before {
        border-top: 30px solid #151515;
        border-right: 30px solid transparent;
    }
    #contact .content-inner .contact-content .contact-form .shape::before {
        border-top: 30px solid #151515;
        border-right: 30px solid transparent;
    }

    #contact .content-inner .contact-content .contact-address {
        margin: 0 20px;
    }

    #contact .content-inner .contact-content .contact-form {
        margin: 0;
        width: 70vw;
    }

    #contact .content-inner .contact-content .contact-form form textarea {
        padding-bottom: 50px;
    }

    #contact .content-inner .contact-content #map {
        display: none;
    }
    
    footer p{
        margin-bottom: 20px;
    }
}
