/*RWD 1200px - 922px - 768px -520px*/

/*BIG SCREENS*/

@media all and (min-width: 1300px) {
    #typedtext {
        font-size: 30px;
    }

    #typedtext h1 {
        font-size: 50px;
    }

    .background .content-inner .content-title {
        font-size: 80px;
    }

    .background .content-inner .tags {
        font-size: 50px;
    }

    .skills-boxes figure img {
        width: 125px;
        height: 125px;
    }

    .image-box {
        font-size: 24px;
        max-width: 400px;
    }

    .image-box img {
        width: 400px;
        height: 300px;
    }
}

@media all and (max-width:1299px) {
    .projects-boxes {
        margin: 0;
    }
}

/*MEDIUM SCREENS*/

@media all and (max-width:922px) {
    .background:first-child {
        background-image: none;
        background-color: #000;
    }

    .background:nth-child(3) {
        background-image: none;
        background-color: #606162;
    }

    .skills-boxes {
        margin-right: 0;
    }

    #contact .content-inner .contact-content .contact-form {
        margin-right: 0;
    }
}

/*SMALL SCREENS*/

@media all and (max-width:768px) {
    .menu-toggle {
        width: 40px;
        height: 30px;
        position: fixed;
        top: 20px;
        right: 25px;
        cursor: pointer;
        z-index: 20;
    }

    .menu-toggle.on .one {
        -webkit-transform: rotate(45deg) translate(7px, 7px);
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-toggle.on .two {
        opacity: 0;
    }

    .menu-toggle.on .three {
        -webkit-transform: rotate(-45deg) translate(8px, -10px);
        transform: rotate(-45deg) translate(8px, -10px);
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 5px;
        background: #fff;
        margin: 6px auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .menu-section.on {
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    #main-nav .dots {
        display: none;
    }

    #main-nav .tooltip {
        opacity: 1;
    }

    #main-nav {
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #main-nav ul {
        margin-top: 20vh;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }
    #main-nav ul.hidden {
        display: none;
    }
    #main-nav ul a {
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        font-size: 3em;
        display: block;
    }

    #main-nav a span {
        float: none;
    }

    #typedtext {
        margin-left: 15vw;
    }

    #typedtext h1 {
        margin-left: 75px;
    }

    #contact .content-inner .contact-content {
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    #contact .content-inner .content-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #contact .content-inner .contact-content .tag1,
    tag2 {
        margin-left: 40px;
    }


    #contact .content-inner .contact-content .contact-address {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }

    #contact .content-inner .contact-content .contact-form {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;

    }

    #contact .content-inner .contact-content .contact-address .shape {
        width: 70vw;
        margin: 10px 0;
        height: 30px;
        line-height: 30px;
    }

    #contact .content-inner .contact-content .contact-form .shape {
        display: none;
    }

    #contact .content-inner .contact-content .contact-address .shape::before {
        border-top: 30px solid #151515;
        border-right: 30px solid transparent;
    }
    #contact .content-inner .contact-content .contact-form .shape::before {
        border-top: 30px solid #151515;
        border-right: 30px solid transparent;
    }

    #contact .content-inner .contact-content .contact-address {
        margin: 0 20px;
    }

    #contact .content-inner .contact-content .contact-form {
        margin: 0;
        width: 70vw;
    }

    #contact .content-inner .contact-content .contact-form form textarea {
        padding-bottom: 50px;
    }

    #contact .content-inner .contact-content #map {
        display: none;
    }

}


/*EXTRA SMALL SCREENS*/

@media all and (max-width: 520px) {
    .background .content-inner {
        margin: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .background .content-inner .content-title {
        font-size: 25px;
    }

    #typedtext {
        margin-left: 20px;
    }

    .scroll-downs {
        display: none;
    }

    .skills-boxes figure img {
        width: 60px;
        height: 60px;
    }

    .image-box {
        max-width: 170px;
    }

    .image-box img {
        width: 170px;
        height: 150px;
    }
}
