html,
body {
    overflow: hidden;
    margin: 0;

}

/*=====PRELOADER=====*/

.preload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #1a1a1a;
    -webkit-transition: opacity 400ms ease-in-out, visibility 0s 400ms;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader {
    visibility: visible;
    opacity: 1;
}

.circle {
    background-color: #465f91;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: bounce-circles 0.7s infinite ease-in-out;
    animation: bounce-circles 0.7s infinite ease-in-out;
}

.preload .circle:nth-child(1) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.preload .circle:nth-child(2) {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.preload .circle:nth-child(3) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.preload .circle:nth-child(4) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes bounce-circles {
    0%,
    40%,
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    20% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes bounce-circles {
    0%,
    40%,
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    20% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}


/*=============PARALLAX EFFECT================*/

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.background:first-child {
    background-image: url(../img/parallax-header.jpeg);
    -webkit-transform: translateY(-15vh);
    transform: translateY(-15vh);
}

.background:first-child .content-inner {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}

.background:nth-child(2) {
    background-image: url(../img/pexels-photo-696644.jpeg);
}

.background:nth-child(3) {
    background-image: url(../img/stock-vector-light-bulb-with-gears-and-cogs-working-together-eps-vector-background-for-your-design-348400238.jpg);
}

.background:nth-child(4) {
    background-image: url(../img/footer_lodyas.png);
}

.background:nth-child(5) {
    background-image: url(../img/808145472.jpg);
}

/* Set stacking context of slides */

.background:nth-child(1) {
    z-index: 5;
}

.background:nth-child(2) {
    z-index: 4;
}

.background:nth-child(3) {
    z-index: 3;
}

.background:nth-child(4) {
    z-index: 2;
}

.background:nth-child(5) {
    z-index: 1;
}

.background .content-inner {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    color: #fff;
    -webkit-transform: translateY(40vh);
    transform: translateY(40vh);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.background .content-inner .content-title {
    margin-top: 0;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #465f91;
}

.background.up-scroll {
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-inner {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}

.background.up-scroll + .background {
    -webkit-transform: translate3d(0, 30vh, 0);
    transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content-inner {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
}

.background.down-scroll {
    -webkit-transform: translate3d(0, -130vh, 0);
    transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-inner {
    -webkit-transform: translateY(40vh);
    transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
    -webkit-transform: translate3d(0, -15vh, 0);
    transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-inner {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh);
}



/*==================VERTICAL NAVIGATION DOTS=====================*/

#main-nav {
    z-index: 10;
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

#main-nav li {
    text-align: right;
    list-style: none;
}

#main-nav a {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


#main-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

#main-nav a:hover span {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#main-nav a:hover .tooltip {
    opacity: 1;
}

#main-nav .dots {
    text-align: center;
    position: relative;
    top: 3px;
    line-height: 3;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    text-indent: -999em;
}

#main-nav .dots:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#main-nav .active .dots {
    background-color: #fff;
}

#main-nav .tooltip {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: white;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}


/*==================HEADER TYPEWRITING=============*/

#typedtext {
    font-family: 'La Belle Aurore', cursive;
    font-size: 25px;
    letter-spacing: 6px;
    text-align: left;
    margin-left: 23vw;
    margin-bottom: 15vh;
    color: #465f91;
}

#typedtext p {
    margin-bottom: 0;
    margin-top: 0;
}

#typedtext h3 {
    font-size: 25px;
    margin-left: 5vw;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}

#typedtext h1 {
    margin-left: 10vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 40px;
    color: #fff;
}

#typedtext span {
    -webkit-animation: 1s dash step-end infinite;
    animation: 1s dash step-end infinite;
}

@-webkit-keyframes dash {
    0%,
    100% {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@keyframes dash {
    0%,
    100% {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

/*==================HEADER ANIMATED SCROLL MOUSE ICON=============*/

.scroll-downs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.scroll-downs .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.scroll-downs .mousey .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

/*==================SKILLS ICONS STYLES==========*/

.skills-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10vh;
    margin-right: 70vh;
}

.skills-boxes figure img {
    width: 75px;
    height: 75px;
}
